<div class="container">
  <h1>Criar ou carregar Log</h1>

  <div class="row">
    <div class="col-sm-5">
      <a style="margin-bottom: 5px" href="#" routerLink="/post/index" class="btn btn-primary">Voltar</a>
    </div>
  </div>

  <hr/>
  <hr/>
  <hr/>

  <form [formGroup]="form" (ngSubmit)="submit()">

    <div class="row">
      <div class="col-sm-4">
        <input (change)="onFileSelect($event)"
               type="file" [attr.accept]="'.log'"/>
      </div>
      <div class="col-sm-2">
        <button class="btn btn-primary" type="button" (click)="enviarArquivo()"> Enviar arquivo</button>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="client">Client:</label>
          <input
            formControlName="client"
            id="client"
            type="text"
            class="form-control">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="clientIP">IP:</label>
          <input
            id="clientIP"
            formControlName="clientIP"
            class="form-control">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="methodRequest">Method:</label>
          <input
            formControlName="methodRequest"
            id="methodRequest"
            type="text"
            class="form-control">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="statusCodeResponde">Status:</label>
          <input
            formControlName="statusCodeResponde"
            id="statusCodeResponde"
            type="number"
            class="form-control">
        </div>
      </div>

      <div class="form-group col-sm-6">
        <label class="control-label">Data limite antecipação:</label>
        <p-calendar
          [style]="{'width':'100%'}"
          [locale]="defaultLocaleCalendar"
          [dateFormat]="'dd/mm/yy'"
          [appendTo]="'body'"
          [showTime]="true"
          [showSeconds]="true"
          [inputStyleClass]="'form-control'"
          formControlName="dateTimeAudit"></p-calendar>
      </div>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
  </form>
</div>

